* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

#root #con {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root #con > div:nth-child(1) {
  width: inherit;
  height: inherit;
  background-color: #8068AD;
  position: absolute;
}

#root #con > div:nth-child(2) {
  width: inherit;
  height: 70%;
  background-color: #c4c4c4;
  position: absolute;
  z-index: 1;
}

#root #con > div:nth-child(2) > div:nth-child(1) {
  width: inherit;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 10vh;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 10%;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div {
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  bottom: 7vh;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  font-size: 2rem;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div {
  width: 1vw;
  height: 1vw;
  background-color: #fff;
  border-radius: 100%;
}

#root #con > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  background-color: gray;
}

#root #con > div:nth-child(2) > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3vh;
}

#root #con > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 90vw;
  height: 0.5rem;
  background-color: #fff;
}

#root #con > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 90vw;
}
/*# sourceMappingURL=style.css.map */